python -m venv lib
lib\Scripts\activate

pip install flask
pip install Flask-SQLAlchemy
pip install flask-login

pip install pyrebase4
pip install pytz

pip install Flask-Migrate
flask db init
flask db migrate -m "Your migration message"
flask db upgrade

flask db downgrade
